---
layout: home
titles:
  # @start locale config
  en      : &EN       About me
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  it      : &IT       Chi sono
  it-IT   : *IT
  it-CH   : *IT
  # @end locale config
key: page-home
---

<div class="layout--home">
  {%- include paginator.html -%}
</div>
<script>
  {%- include scripts/home.js -%}
</script>

![TeXt Theme](https://raw.githubusercontent.com/loop-btc/loop-btc.github.io/loop-btc-patch-1/assets/btc_header.jpg)

Pagina in costruzione...